@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.promo-span {
    display: inline-block;
    transform: skewX(10deg);
    -o-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -webkit-transform: skewX(-20deg);
    width: 50px;
    padding: 5px;
    background-color: #E6E340;
    color: black;
    text-align: center;
}

.login-menu {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

#carouselExampleControls {
    z-index: 0 !important;
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 0.7rem;
}

.link-footer a {
    color: white;
    text-decoration: none;
}

.social-media {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin: 0 auto;
}

.social-media a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.footer-col {
    padding-left: 20%;
    padding-right: 20%;
}

.header-top {
    display: flex;
    height: 50px;
    background-color: black;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.login {
	width: 100px;
	height: 30px;
	transform: skew(-20deg);
	background: #E6E340;
    text-align: center;
    color: black;
}

.register {
	width: 100px;
	height: 30px;
	transform: skew(-20deg);
	background: black;
    text-align: center;
    color: white;
    border: 1px solid white;
}

.wrapper {
    background: #121212;
    width: 100%;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.container-content-with-image {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.content-with-image {
    width: 100%;
    background-color: #332E30;
    height: 120px;
    position: relative;
    margin: 10px;
    max-width: 150px;
}

.content-with-image button {
    width: 100%;
    font-size: x-small;
    padding: 5px 5px 5px 5px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    background: linear-gradient(270deg, #E6E340 8%, #121212 7%, #121212 9%, #E6E340 7%);
    background-size: 150.97px 519.97px;
    background-repeat: no-repeat;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img-container img {
    max-width: 50px;
    height: auto;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 80px;
    display: flex;
}

.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.content .links li {
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    background: #323c4e;
    border-bottom: 3px solid #E6E340;
}

.active a {
    background: #323c4e;
    border-bottom: 3px solid #E6E340;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #121212;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #f2f2f2;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #121212;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}

/* Dropdown Menu code start */
.content .links ul {
    position: absolute;
    background: #121212;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}

/*   */

.navbar-container {
    width: 100%;
}

.nav-logo {
    width: 100%;
    max-width: 150px;
}

/* Thick red border */
hr.new4 {
    border: 2px solid #E6E6D4;
}

.sidebar-nav {
    background-color: #332E30;
}

.sidebar-nav ul {
    color: white;
    padding: 20px;
    list-style-type: none;
}

.sidebar-nav li {
    padding: 10px;
    border-bottom: 1px dashed white;
}

.content-container {
    padding-left: 20px;
    padding-right: 20px;
}

/* tabs conetnt */

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #242424;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    border-top: none;
    background-color: black;
}


/* Responsive code start */
@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links {
        margin-left: 30px;
    }

    .content .links li a {
        padding: 8px 13px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }

    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }

    .content-with-image button {
        width: 100%;
        font-size: x-small;
        padding: 5px 5px 5px 5px;
        position: absolute;
        bottom: 0;
        font-weight: bold;
        background-color: #E6E340;
        background: rgba(230, 227, 64, 1);
        background-repeat: no-repeat;
    }

    .header-top {
        display: flex;
        justify-content: center;
    }

    .login-menu {
        display: block;
    }

    .hide {
        height: 20px !important;
    }

    .right-top {
        display: none;
    }

    .container-content-with-image {
        display: flex;
        flex-direction: column;
        padding: 20;
    }

    .content-with-image {
        margin: 10px 0 10px 0;
        max-width: 100%;
    }

    .footer-col {
        padding-left: 10%;
        padding-right: 10%;
    }

    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 120px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }

    nav #show-menu:checked~.content .links {
        left: 0%;
    }

    .content .links li {
        margin: 15px 20px;
    }

    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
        max-height: 100vh;
    }

    .content .links ul li {
        margin: 7px 20px;
    }

    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
    }
}

@media screen and (max-width: 400px) {

    .content-with-image button {
        width: 100%;
        font-size: x-small;
        padding: 5px 5px 5px 5px;
        position: absolute;
        bottom: 0;
        font-weight: bold;
        background-color: #E6E340;
        background: rgba(230, 227, 64, 1);
        background-repeat: no-repeat;
    }

    .wrapper nav {
        padding: 0 10px;
    }


    .content .logo a {
        font-size: 27px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }

    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }

    .wrapper .search-box input {
        padding-right: 30px;
    }
}